@font-face {
  font-family: 'letter_gothic';
  src: url('../fonts/LetterGothicStd.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'letter_gothic';
  src: url('../fonts/LetterGothicStd-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'letter_gothic';
  src: url('../fonts/LetterGothicStd-Slanted.otf');
  font-weight: normal;
  font-style: italic;;
}

@font-face {
  font-family: 'letter_gothic';
  src: url('../fonts/LetterGothicStd-BoldSlanted.otf');
  font-weight: bold;
  font-style: italic;
}

html{
  background-color: #FAF0E6;
  font-family: sans-serif;
  font-size:10pt;
  color: #292421;
}

body{
  margin:0px;
}

main{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width:80%;
}

main article{
  margin-top: 1em;
  margin-bottom: 1em;
  padding:10px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'letter_gothic' ,monospace;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

pre {
  font-family: monospace;
  font-size: 10px;
  text-align: center;
  font-size: 0.6vw;
  margin: 0px;
}

article h6{
  margin:0px;
}

article p{
  margin-top: 0px;
  line-height: 1.4em;
}

nav{
  text-align: center;
  margin-bottom: 1em;
}

#article_type{
  text-align: left;
  margin-bottom: 1em;
  padding:10px;
}

header h3{
  margin-bottom: 0px;
  margin-top: 0px;
}

a{
  color:inherit;
}

header {
  margin-top: 4em;
  margin-bottom: 0px;
  padding:10px;
}

header p{
  margin-top: 0em;
}

header .replies{
  float:none;
}

button {
  background-color: #FAF0E6;
  color: #292421;
  border: none;
  padding:0px;
}
button:hover{
  color: #FAF0E6;
  background-color: #292421;
}
button:focus {
  outline:0;
}

/* Your ID's */

#bottom {
  float:right;
}


#home_page header p{
  margin-top: 0em;
  margin-bottom: 2em;
}

#link_page header h3 a{
  text-decoration: none;
}

#link_page header h3 a:hover{
  background-color: #292421;
  color: #FAF0E6;
}

#link_page header>p{
  margin-top: 0em;
  margin-bottom: 1em;
  display:inline-block;
}

#link_page header>.replies{
  float:right
}

#link_page header>.byline{
  margin-left: auto;
  margin-left: auto;
  text-align:center;
}

#link_page header .nav_box{
  display:inline-block;
  float: right;
}

#pagination_big{
  display:inline;
}

#pagination_small{
  display:none;
}

#main_form p input,
#main_form p label{
  display:block;
}

#main_form p label{
  font-weight: bold;
}

#new_draft p input[type="text"]{
  width:100%;
  border: 1px solid #9a9a9a;
  color: #9a9a9a;
  padding: 5px;
  background-color: inherit;
  font-family: monospace;
  color: #665A52;
}

#new_draft p input[type="text"]:focus{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color:#665A52;
  border: 3px double #665A52;
  /*overflow: auto;*/
  outline:none;
}

textarea {
	width: 100%;
	height: 60px;
	border: 1px solid #9a9a9a;
  color: #9a9a9a;
	padding: 5px;
  background-color: inherit;
	font-family: monospace;
  font-style: italic;
  color: #665A52;
  width:100%;
}

textarea:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-style: normal;
  color:#665A52;
  border: 3px double #665A52;
  overflow: auto;
  outline:none;
}

form {
  padding: 10px;
}


/* Your Classes */

.c1{
  color:  #170703;
}

.c2{
  color:  #170703;
}

.b1{
  color: red;
}

.signature{
  width:auto;
}

.hr{
  overflow: hidden;
  margin-top: 2em;
  color:#665A52;
}

.after_header{
  margin-top: 1em;
}



.button_bar{
  margin-top: 1em;
  margin-bottom: 4em;
}

.center{
  text-align: center;
}

.replies, .article_id{
  float:right;
  display:inline-block;
  color:#665A52;
}

.timestamp, .replies{
    display:inline-block;
}

.byline{
  font-weight: bold;
}

.link_to_full_article{
  display:inline-block;
  text-decoration: none;
}

.nav_filter{
  text-decoration: none;
  position:relative;
}

.get_more{
  text-align: center;
  display:block;
  margin-top: 1em;
  margin-bottom: 1em;
  width:100%;
}

.nav_box{
  text-align: center;
  display:block;
}

.get_more a,
.return_index,
.navigation,
.login a,
nav span a,
.user_author a,
#article_type p span a{
  text-decoration: none;
}

.get_more a:hover,
.return_index:hover,
.navigation:hover,
.login a:hover,
nav span a:hover,
.user_author a:hover,
#article_type p span a:hover,
.focus,
.link_to_full_article:hover{
  background-color: #292421;
  color: #FAF0E6;
  z-index:4;
}

.inactive{
  color: #d1d0ca;
}

.get_more .inactive:hover{
  background-color: #d1d0ca;
  color: #FAF0E6;
}

#not_link{
  padding:10px;
}

#pagination_big .active_page{
  background-color:#FAF0E6;
  color: #292421;
  text-decoration: none;
}

#pagination_big .active_page:hover{
  background-color:#FAF0E6;
  color: #292421;
  text-decoration: none;
}

#pagination_big span a{
  text-decoration: underline;
  background-color: none;
}

#pagination_big span a:hover{
  text-decoration: underline;
  background-color: none;
}

.external_link{
  color:#665A52;
}

.navigation{
  text-align: center;
}

.actual_url{
  color:#665A52;
}

.return_index{
  text-align: left;
  position: absolute;
  margin: 0px 0px;
  left:10px;
  top:10px;
}

.login{
  text-align: right;
  position:absolute;
  margin: 0px 0px;
  right: 10px;
  top:10px;
}

.user_author{
  text-align: right;
  position:fixed;
  bottom: 10px;
  right:10px;
  width:auto;
  display:inline-block;
}

.small{
  display:none;
}

.comment .stats .post_author_name, .comment .stats .post_date{
  display:inline;
}

.comment .stats .post_date, .post_id{
  color:#665A52;
}

.post_id{
  float:right;
}

.bottom_hr{
  margin-top: 1em;
  margin-bottom: 2em;
}

.comment .stats{
  margin-bottom: 1em;
}

.anonymous_post{
  color:#1f7a1f;
  font-weight: bold;
}

.known_post{
  color:#e84929;
  font-weight: bold;
}

/* My Media Queries */

@media screen and (max-width: 1000px) {
  main{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width:80%;
  }

  .big{
    display:none;
  }

  .small{
    display:inline;
  }

  pre {
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    font-size: 1.6vw;
  }

  .big{
    display:none;
  }

  .small{
    display:inline;
  }

  .return_index{
    position: absolute;
  }

  /* My Classes < 1000px */
}


@media screen and (max-width: 480px) {
  main{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width:100%;
    font-size: 0.8em;
  }

  main article{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  pre {
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    font-size: 1.8vw;
  }

  #pagination_big{
    display:none;
  }

  #pagination_small{
    display:inline;
  }

  /* My Classes < 460px */

  .nav_filter {
    font-size: 0.8em;
  }

  .big{
    display:none;
  }

  .small{
    display:inline;
  }

  .return_index{
    position: absolute;
  }
}
