{% extends "iw_app/base.html" %}

{% load static %}
{% block content %}
<style>
  main{
    margin-top: 100px;
  }
</style>
<main>
<section>
  {% if form.errors %}
  <p>Who do you think you are?</p>
  {% endif %}

  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">|&emsp;Register&emsp;|</button>
    <!--<input type="hidden" name="next" value="{% url 'iw_app:index' %}"/>-->
  </form>
</section>
</main>

{% endblock content %}
